@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25.875em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  background-color: #dfe4ea;
  font-family: 'Roboto Mono', monospace; }

.app {
  max-width: 60rem;
  height: 100%;
  margin: 10rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  position: relative; }
  .app__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5.5rem;
    width: 100%;
    background-color: #f1f2f6;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem; }
    .app__controls-create_note {
      display: flex;
      justify-content: flex-start;
      width: 57rem; }
    .app__controls-clear_notes {
      display: flex;
      justify-content: center;
      width: 5rem; }
    .app__controls__icon {
      height: 3rem;
      width: 3rem;
      margin: 1rem;
      transition: all .2s; }
    .app__controls__icon:hover {
      padding: 1rem;
      background-color: #1e90ff;
      border-radius: 50%;
      padding: .5rem;
      cursor: pointer; }
    .app__controls__icon-bin {
      height: 3rem;
      width: 3rem;
      margin: 1rem;
      transition: all .2s; }
    .app__controls__icon-bin:hover {
      background-color: #ff4757;
      border-radius: 50%;
      padding: .5rem;
      cursor: pointer; }
  .app__divider {
    height: 2rem;
    margin-bottom: 1rem;
    max-width: 100%;
    background-color: #dfe4ea;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem; }
  .app__notes {
    max-width: 100%;
    height: 100%;
    min-height: 5rem;
    background-color: #dfe4ea;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem; }

.note__create {
  height: 10rem;
  width: 30rem;
  position: relative;
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .note__create__button {
    display: block;
    font-size: 2rem;
    padding: 0;
    height: 3rem;
    width: 15rem;
    margin: 2rem auto;
    border: none;
    border-radius: .5rem;
    background-color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .2s;
    transition-delay: .01s; }
    .note__create__button:hover {
      cursor: pointer;
      transform: translateY(0.2rem);
      box-shadow: none; }
  .note__create__input {
    display: block;
    border: none;
    outline: none;
    padding: .5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: .5rem;
    font-size: 1.8rem;
    background-color: rgba(223, 228, 234, 0.45);
    color: #5352ed; }
  .note__create-close {
    position: absolute;
    top: -.2rem;
    right: .2rem;
    margin: .2rem;
    font-size: 1.6rem;
    transition: all .1s; }
    .note__create-close:hover {
      cursor: pointer;
      color: #ff4757;
      transform: scale(1.3); }

.notes__delete {
  height: 10rem;
  width: 30rem;
  padding: 1rem;
  position: relative;
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .notes__delete__paragraph {
    font-size: 1.4rem;
    text-align: center; }
  .notes__delete__button {
    display: block;
    border: none;
    outline: none;
    padding: .5rem;
    background-color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    margin: 1rem auto;
    transition: all .1s; }
    .notes__delete__button:hover {
      cursor: pointer;
      background-color: #5352ed;
      color: #ffffff; }
  .notes__delete-close {
    position: absolute;
    top: -.2rem;
    right: .2rem;
    margin: .1rem;
    font-size: 1.4rem;
    transition: all .1s; }
    .notes__delete-close:hover {
      cursor: pointer;
      color: #ff4757;
      transform: scale(1.3); }

.note__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: .5rem; }
  @media only screen and (max-width: 37.5em) {
    .note__content {
      height: 6.5rem; } }
  .note__content:not(:last-child) {
    margin-bottom: .5rem; }
  .note__content-date {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1rem;
    color: #1e90ff; }
  .note__content-note {
    display: flex;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    width: 57rem;
    font-size: 1.6rem;
    border-radius: .4rem; }
    @media only screen and (max-width: 37.5em) {
      .note__content-note {
        font-size: 1.2rem;
        margin: 0; } }
  .note__content-edit {
    width: 2.5rem;
    margin-left: .2rem;
    margin-right: .5rem;
    fill: currentColor;
    transition: all .2s;
    transition-delay: 25ms; }
    .note__content-edit:hover {
      fill: #5352ed;
      cursor: pointer;
      transform: rotate(25deg); }
  .note__content-delete {
    width: 2.5rem;
    fill: currentColor;
    transition: all .2s;
    transition-delay: 2ms; }
    .note__content-delete:hover {
      fill: #ff4757;
      cursor: pointer;
      transform: rotateX(30deg); }
  .note__content-icon {
    height: 1.9rem;
    width: 1.9rem; }
  .note__content-icon-bin {
    height: 1.9rem;
    width: 1.9rem; }

.editNote {
  height: 10rem;
  width: 30rem;
  position: absolute;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .editNote__input {
    display: block;
    border: none;
    outline: none;
    padding: .5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: .5rem;
    font-size: 1.8rem;
    background-color: rgba(223, 228, 234, 0.45);
    color: #5352ed; }
  .editNote__button {
    display: block;
    font-size: 2rem;
    padding: 0;
    height: 3rem;
    width: 15rem;
    margin: 2rem auto;
    border: none;
    border-radius: .5rem;
    background-color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .2s;
    transition-delay: .01s; }
    .editNote__button:hover {
      cursor: pointer;
      transform: translateY(0.2rem);
      box-shadow: none; }
  .editNote-close {
    position: absolute;
    top: -.2rem;
    right: .2rem;
    margin: .2rem;
    font-size: 1.6rem;
    transition: all .1s; }
    .editNote-close:hover {
      cursor: pointer;
      color: #ff4757;
      transform: scale(1.3); }

.shortcut {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 35rem;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem; }
  @media only screen and (max-width: 75em) {
    .shortcut {
      display: none;
      visibility: hidden; } }
  .shortcut > p {
    margin: 1rem; }
  .shortcut > p > span {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5rem;
    border-radius: 1rem;
    color: #5352ed; }
  .shortcut__button {
    width: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: .1rem;
    outline: none;
    background-color: #ffffff;
    font-size: 1.5rem;
    transition: all .1s; }
    .shortcut__button:hover {
      background-color: #5352ed;
      cursor: pointer;
      color: #ffffff; }
